@font-face {
	font-family: 'nexa_boldregular';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot');
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff2') format('woff2'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff') format('woff'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.ttf') format('truetype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
}

.demo-4 {
	--color-text: #fff;
	--color-bg: #101010;
	--color-link: #fe0e55;
	--color-link-hover: #fff;
	--color-info: #333;
	--color-title: #fff;
	--color-subtitle: #fff;
	--color-subtitle-bg: #fe0e55;
	background: #101010 url(../img/X.svg) no-repeat 50% 50%;
	background-size: 50%;
}

.content__title {
	font-family: 'nexa_boldregular', sans-serif;
	font-size: 10vw;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
	font-size: 1.25em;
	color: var(--color-subtitle);
	padding: 0 0.75em;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.context{
	padding: 50px 50px;
	padding-right: 200px;
	padding-left: 200px;
	padding-bottom: 40px;
	
}
.context h2{
	text-align:center;
}


  
/* card for excom*/

@import url(https://fonts.googleapis.com/css?family=Open+sans);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
.snip1515 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  margin: 20px auto;
  margin-left: 4%;
  min-width: 230px;
  max-width: 315px;
  float: left;
  width: 30%;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
padding-top: 50px;
  transition: .5s;
}

.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid #e8b563;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}
.snip1515:hover {
 transform: scale(1.1);
 box-shadow: 0.3em 2em 3em -1em #d6d1e0;
}

.snip1515 figcaption {
  width: 100%;
  background-color: #F2F2F2;
  color: #555;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
  margin: 0 0 5px;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Playfair Display', Arial, sans-serif;
}

.snip1515 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1515 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1515 .icons {
  text-align: center;
  width: 100%;
}

.snip1515 i {
  padding: 10px 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #e8b563;
  opacity: 0.75;
}

.snip1515 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}


/* table for excom*/

table {
	border-collapse: collapse;
	width: 100%;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
  
  }
  
  th, td {
	padding: 20px;
	color: #eee;
	text-align: left;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
	transition: .3s;
  }
  th{
    font-size: 25px
  }
  tr:hover {
	background-color:rgba(255, 255, 255, 0.2);
  }
